asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-extensions
django-filter
djangorestframework
djangorestframework-jsonapi
huepy
idna
inflection
Jinja2
livereload
markdown2
MarkupSafe
npm
npx
numpy
optional-django
Pillow
Pygments
python-dotenv
pytz
react
requests
six
sqlparse
tornado
tzdata
urllib3
vite
